asgiref==3.3.4
astroid==2.5
attrs==20.3.0
autopep8==1.5.5
certifi==2020.12.5
chardet==4.0.0
coreapi==2.3.3
coreschema==0.0.4
Django==3.2.4
django-environ==0.4.5
django-filter==2.4.0
djangorestframework==3.12.4
drf-yasg==1.20.0
flake8==3.8.4
idna==2.10
inflection==0.5.1
iniconfig==1.1.1
isort==5.7.0
itypes==1.2.0
jedi==0.17.2
Jinja2==2.11.3
lazy-object-proxy==1.5.2
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.9
parso==0.7.1
pdfkit==0.6.1
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pydocstyle==5.1.1
pyflakes==2.2.0
pylint==2.7.0
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQt6==6.0.1
PyQt6-Qt==6.0.1
PyQt6-sip==13.0.1
PyQtWebEngine==5.15.2
PySide2==5.15.2
pytest==6.2.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pytz==2021.1
requests==2.25.1
rope==0.18.0
ruamel.yaml==0.17.10
ruamel.yaml.clib==0.2.6
shiboken2==5.15.2
snowballstemmer==2.1.0
sqlparse==0.4.1
toml==0.10.2
ujson==4.0.2
uritemplate==3.0.1
urllib3==1.26.6
wrapt==1.12.1
yapf==0.30.0
